<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.motomecha.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.LOCATION_HARDWARE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:name=".Global_classes.AppController"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Global_classes.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="MOTOMECHA">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.motomecha.com"
                    android:pathPrefix="/buysell"
                    android:scheme="http" />
                <data
                    android:host="www.motomecha.com"
                    android:scheme="http" />
                <data
                    android:host="www.motomecha.com"
                    android:pathPrefix="/insurance"
                    android:scheme="http" />
                <data
                    android:host="www.motomecha.com"
                    android:pathPrefix="/app"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Global_classes.BasicActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver android:name="swarajsaaj.smscodereader.receivers.OtpReader">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <service android:name=".Global_classes.MyFcmId">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Global_classes.MyService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.motomecha.app"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/hotline_file_provider_paths" />
        </provider>

        <activity
            android:name=".Global_classes.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Global_classes.OtpActivity"
            android:label="@string/title_activity_otp"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Global_classes.ResgisterActivity"
            android:label="@string/title_activity_resgister"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Global_classes.IntroActivity"
            android:label="@string/title_activity_intro"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Global_classes.GlobalWebPage"
            android:label="@string/title_activity_global_web_page"
            android:parentActivityName=".Global_classes.BasicActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.motomecha.app.Global_classes.BasicActivity" />
        </activity>
        <activity
            android:name=".Global_classes.MyVechicle"
            android:label="@string/title_activity_my_vechicle"
            android:parentActivityName=".Global_classes.BasicActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.motomecha.app.Global_classes.BasicActivity" />
        </activity>
        <activity
            android:name=".Global_classes.OfferPage"
            android:label="@string/title_activity_offer_page"
            android:parentActivityName=".Global_classes.BasicActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.motomecha.app.Global_classes.BasicActivity" />
        </activity>
        <activity
            android:name=".bike_module.PickService"
            android:label="@string/title_activity_pick_service"
            android:parentActivityName=".Global_classes.BasicActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.motomecha.app.Global_classes.BasicActivity" />
        </activity>
        <activity
            android:name=".Global_classes.BrandSelect"
            android:label="@string/title_activity_brand_select"
            android:parentActivityName=".Global_classes.BasicActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.motomecha.app.Global_classes.BasicActivity" />
        </activity>
        <activity
            android:name=".car_module.Car_service_modes"
            android:label="@string/title_activity_car_service_modes"
            android:parentActivityName=".Global_classes.BasicActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.motomecha.app.Global_classes.BasicActivity" />
        </activity>
        <activity
            android:name=".Global_classes.ModelSelect"
            android:label="@string/title_activity_model_select"
            android:parentActivityName=".Global_classes.BasicActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.motomecha.app.Global_classes.BasicActivity" />
        </activity>
        <activity
            android:name=".Global_classes.Plate_Regiestration"
            android:label="@string/title_activity_plate__regiestration"
            android:parentActivityName=".Global_classes.BasicActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.motomecha.app.Global_classes.BasicActivity" />
        </activity>
        <activity
            android:name=".bike_module.BikeMapActivity"
            android:label="@string/title_activity_bike_map"
            android:parentActivityName=".Global_classes.BasicActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.motomecha.app.Global_classes.BasicActivity" />
        </activity>
        <activity
            android:name=".bike_module.ConfirmBooking"
            android:label="@string/title_activity_confirm_booking"
            android:parentActivityName=".bike_module.BikeMapActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.motomecha.app.bike_module.BikeMapActivity" />
        </activity>
        <activity
            android:name=".bike_module.LastPage"
            android:label="@string/title_activity_last_page"
            android:parentActivityName=".bike_module.ConfirmBooking"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.motomecha.app.bike_module.ConfirmBooking" />
        </activity>

        <service
            android:name=".Global_classes.TrackGPS"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".Global_classes.VehicleMode"
            android:label="@string/title_activity_vehicle_mode"
            android:parentActivityName=".Global_classes.BasicActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.motomecha.app.Global_classes.BasicActivity" />
        </activity>
        <activity
            android:name=".Global_classes.ListVechicle"
            android:label="@string/title_activity_list_vechicle"
            android:parentActivityName=".Global_classes.VehicleMode"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.motomecha.app.Global_classes.VehicleMode" />
        </activity>
        <activity
            android:name=".Global_classes.DetailService"
            android:label="@string/title_activity_detail_service"
            android:parentActivityName=".Global_classes.ListVechicle"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.motomecha.app.Global_classes.ListVechicle" />
        </activity>
        <activity
            android:name=".Global_classes.CustomerReviews"
            android:label="@string/title_activity_customer_reviews"
            android:parentActivityName=".Global_classes.BasicActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.motomecha.app.Global_classes.BasicActivity" />
        </activity>
        <activity
            android:name=".car_module.Car_ServiceProviders"
            android:label="@string/title_activity_car__service_providers"
            android:parentActivityName=".Global_classes.MyVechicle"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.motomecha.app.Global_classes.MyVechicle" />
        </activity>
        <activity
            android:name=".car_module.CarServiceProvidersDetail"
            android:label="@string/title_activity_car_service_providers_detail"
            android:parentActivityName=".car_module.Car_ServiceProviders"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.motomecha.app.car_module.Car_ServiceProviders" />
        </activity>
        <activity
            android:name=".Global_classes.InsurancePage"
            android:label="@string/title_activity_insurance_page"
            android:parentActivityName=".Global_classes.BasicActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.motomecha.app.Global_classes.BasicActivity" />
        </activity>
        <activity
            android:name=".Global_classes.ServiceTracking"
            android:label="@string/title_activity_service_tracking"
            android:parentActivityName=".Global_classes.BasicActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.motomecha.app.Global_classes.BasicActivity" />
        </activity>
        <activity
            android:name=".Global_classes.New_Plate_registration"
            android:label="@string/title_activity_new__plate_registration"
            android:parentActivityName=".Global_classes.ListVechicle"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.motomecha.app.Global_classes.ListVechicle" />
        </activity>
        <activity
            android:name=".Global_classes.NearestPetrol"
            android:label="@string/title_activity_nearest_petrol"
            android:parentActivityName=".Global_classes.BasicActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.motomecha.app.Global_classes.BasicActivity" />
        </activity>
        <activity
            android:name=".Global_classes.Profile_page"
            android:label="@string/title_activity_profile_page"
            android:parentActivityName=".Global_classes.BasicActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.motomecha.app.Global_classes.BasicActivity" />
        </activity>
    </application>

</manifest>